h3 {
  font-family: verdana 'sans-serif';
  padding-left: 40px;
  color: rgba(224, 116, 76, 0.91);
}

text {
  font: 12px sans-serif;
}
svg {
  display: block;
  float: left;
  height: 300px !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.dashed {
  stroke-dasharray: 5,5;
}

/* Graph-specific styles */
.nvd3.nv-pie.nv-chart-kmdistribution .nv-pie-title {
  opacity: 0.4;
  fill: rgba(224, 116, 76, 0.91);
}

@media handheld, only screen and (max-width: 767px) {

}
